.Card-Main-RoW {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-Card-Col {
  border: solid #ededed;
  border-radius: 10px;
  height: 280px;
}
.heading-Col {
  margin-top: 25px;
  text-align: center;
  font-family: sans-serif;
}
.input-Main-Row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-Col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 8px;
}
.email-Input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  cursor: pointer;
  font-family: sans-serif;
}
.button-Col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 2px;
}
.sign-Up-Button {
  border: solid red;
  width: 100%;
  padding: 7px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: royalblue;
  color: white;
}
